<header class="main-header">
    <!-- Logo -->
    <a href="http://fulcrum-gt.com/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <img src="assets/images/FGT-logo.png" alt="FGT" width="108" height="23">


        <!-- mini logo for sidebar mini 50x50 pixels -->



    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-click="activeSlide();">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

                <!-- Notifications: style can be found in dropdown.less -->

                <!-- Tasks: style can be found in dropdown.less -->

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <img src="assets/images/microsoft-logo.png" alt="Microsoft" width="94" height="20">
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li></li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" ng-mouseenter="activeSlideHover();" ng-mouseleave="activeSlideHover();">
            <li class="treeview" ng-class="{ active: isCurrentPath('/dashboard') }">
                <a href="#/dashboard">
                    <i class="fa fa-tachometer"></i><span>My Dashboard</span>
                    <span class="pull-right-container">
                        <i ng-class="{ 'fa fa-angle-right pull-left': isCurrentPath('/dashboard') }"></i>
                    </span>
                </a>
            </li>
            <li class="treeview" ng-class="{ active: isCurrentPath('/main') }">
                <a href="#/main">
                    <i class="fa fa-home"></i><span>My Workbench</span>
                    <span class="pull-right-container">
                        <i ng-class="{ 'fa fa-angle-right pull-left': isCurrentPath('/main') }"></i>
                    </span>
                </a>
            </li>
            <li class="treeview" ng-class="{ active: isCurrentPath('/budjet') }">
                <a href="#/budjet">
                    <i class="fa fa-briefcase"></i><span>Manage Budget</span>
                    <span class="pull-right-container">
                        <i ng-class="{ 'fa fa-angle-right pull-left': isCurrentPath('/budjet') }"></i>
                    </span>
                </a>
            </li>
            <li class="treeview" ng-class="{ active: isCurrentPath('/vendor') }">
                <a href="#/vendor">
                    <i class="fa fa-sliders"></i><span>Timekeeper Rates</span>
                    <span class="pull-right-container">
                        <i ng-class="{ 'fa fa-angle-right pull-left': isCurrentPath('/vendor') }"></i>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a target="_blank" href="/sap/bc/ui5_ui5/sap/ZPRS_MAT_CTRMS/index.html#/main">
                    <i class="fa fa-upload"></i><span>My Matters </span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li class="treeview" ng-class="{ active: isCurrentPath('/mattersummery') }">
                <a href="#/mattersummery">
                    <i class="fa fa-file"></i><span>Matter Summary</span>
                    <span class="pull-right-container">
                        <i ng-class="{ 'fa fa-angle-right pull-left': isCurrentPath('/mattersummery') }"></i>
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
