<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" dynamicCompressionBeforeCache="false" />
    <rewrite>
      <outboundRules>

        <rule name="ReverseProxyOutboundRule1" preCondition="" stopProcessing="false">
          <match filterByTags="A, Form, Img, Script" pattern="^http(s)?://s27.fulcrum-gt.com/*" negate="false" />
          <action type="Rewrite" value="http{R:1}://s27/{R:2}" />
        </rule>

        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
        <!--<rule name="RestoreAcceptEncoding" preCondition="NeedsRestoringAcceptEncoding">
          <match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
          <action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
        </rule>
        <preCondition name="NeedsRestoringAcceptEncoding">
          <add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
        </preCondition>-->



      </outboundRules>
      <rules>


        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="s27/(.*)" />
          <conditions>
          </conditions>
          <serverVariables>
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
          <action type="Rewrite" url="http://s27.fulcrum-gt.com/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>

    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.htm" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
</configuration>